.currentWeather {
  max-height: 286px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url("/images/bg-today-large.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: var(--spacing-1000) var(--spacing-300);
  background-position: center;
  border-radius: var(--corner-radius-20);
}

.country {
  height: 126px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-150);
}

.countryName {
  color: var(--colors-neutral-0);
}

.countryDate {
  color: var(--colors-neutral-0);
  padding: 0;
}

.countryWeather {
  height: 126px;
  width: 100%;
  display: flex;
  justify-content: end;
  /* gap: var(--spacing-250); */
  align-items: center;
}

.weatherIcon {
  width: 120px;
  height: auto;
}

.temperature {
  color: var(--colors-neutral-0);
  font-style: italic;
}

@media (max-width: 1275px) {
  .currentWeather {
    /* max-width: 100%; */
    width: 100%;
  }
}

@media (max-width: 650px) {
  .currentWeather {
    gap: var(--spacing-200);
    padding: 41.4px var(--spacing-300);
  }

  .country,
  .countryWeather {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .countryWeather {
    gap: var(--spacing-250);
  }

  .currentWeather {
    flex-direction: column;
    align-items: center;
    background-image: url("/images/bg-today-small.svg");
  }
}
