.headerContainer {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.units {
  display: flex;
  align-items: center;
  gap: var(--spacing-125);
  padding: var(--spacing-150) var(--spacing-200);
  background-color: var(--colors-neutral-800);
  color: var(--colors-neutral-0);
  border-radius: var(--corner-radius-8);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.units:active,
.units:focus {
  background-color: var(--colors-neutral-700);
  outline: 2px solid var(--colors-neutral-0);
  outline-offset: 2px;
}

.unitIcon,
.dropdownIcon {
  width: var(--spacing-200);
  height: var(--spacing-200);
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-050);
  padding: var(--spacing-100) var(--spacing-075);
  border-radius: var(--corner-radius-12);
  position: absolute;
  max-width: 214px;
  width: 100%;
  background-color: var(--colors-neutral-800);
  top: calc(2px + var(--spacing-600));
  right: 0;
  z-index: 2;
  box-shadow: 0 8px 16px #02012c;
}

.switchButton {
  color: var(--colors-neutral-0);
  padding: var(--spacing-100) var(--spacing-125);
  width: 100%;
  text-align: left;
}

.switchButton:hover,
.switchButton:active {
  background-color: var(--colors-neutral-700);
  border-radius: var(--corner-radius-8);
}

.switchButton:hover {
  outline: 2px solid var(--colors-neutral-0);
  outline-offset: 2px;
}

p {
  color: var(--colors-neutral-300);
  padding: var(--spacing-075) var(--spacing-100) var(--spacing-0)
    var(--spacing-100);
}

.temperatureGroup,
.windSpeedGroup,
.precipitationGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-050);
  width: 100%;
}

.temperatureButton,
.windSpeedButton,
.precipitationButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--colors-neutral-0);
  padding: var(--spacing-100) var(--spacing-125);
}

.temperatureButton:hover,
.temperatureButton:active,
.windSpeedButton:hover,
.windSpeedButton:active,
.precipitationButton:hover,
.precipitationButton:active {
  background-color: var(--colors-neutral-700);
  border-radius: var(--corner-radius-8);
}

.divider {
  width: 100%;
  border: 1px solid var(--colors-neutral-600);
  /* margin: var(--spacing-100) 0 var(--spacing-100) 0; */
}

@media (max-width: 376px) {
  .logo {
    width: 137.9px;
    height: auto;
  }

  .units {
    font-size: 14px;
    padding: var(--spacing-100) var(--spacing-125);
  }

  .unitIcon {
    width: 14px;
    height: 14px;
  }

  .dropdownIcon {
    width: 9px;
    height: 14px;
  }

  /* .headerContainer {
        flex-direction: column;
        gap: var(--spacing-200);
    } */
}
